* {
    box-sizing: border-box;
  }

  body {
      background-color: white;

  }

h1 {
    font-family: sans-serif;
} 

div.petname {
    margin-top: 6%;
    margin-left: 37%;
}
    
button {
    margin-top: 10px;
}

.hungry {
    border-style: solid; 
    background-color: blue;
    display: inline-block;
    width: 31vh;
    height: 33vh;
    padding: 0;
    margin-right: 1%;
    margin-top: 19%;
}

